.player {
    display: flex;
    align-items: center;
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        font-size: 32px;
        margin-left: 16px;
        color: black;
    }

    background-color: rgba(100, 100, 100, 0.8);
    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
        background-color: rgb(50, 50, 50, 0.2);
    }
}

.player-active {
    background-color: orange !important;

    img {
        background-color: rgb(252, 176, 35) !important;
    }

    span {
        color: white !important;
    }
}